<%= form_with(model: mazer, local: true) do |form| %>
  <% if mazer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mazer.errors.count, "error") %> prohibited this mazer from being saved:</h2>

      <ul>
      <% mazer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
