<p id="notice"><%= notice %></p>

<h1>Mazers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mazers.each do |mazer| %>
      <tr>
        <td><%= mazer.Name %></td>
        <td><%= mazer.age %></td>
        <td><%= link_to 'Show', mazer %></td>
        <td><%= link_to 'Edit', edit_mazer_path(mazer) %></td>
        <td><%= link_to 'Destroy', mazer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mazer', new_mazer_path %>
